[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {version = "==0.92.0", extras = ["all"]}
elasticsearch = {version = "==8.6.2", extras = ["async"]}
geojson = "==3.0.1"

[dev-packages]

[requires]
python_version = "3.10"
